/*-- scss:rules --*/
body {
	font: normal normal 400;
	font-size: 100%;
	line-height: 1.5em;
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Recursive,Avenir,Verdana,sans-serif;
	margin-top: 1em;
	margin-left: 1em;
}

p {
	position: relative;
	/*left: 25%;*/
	margin-bottom: 0.7em;
	margin-right: 0;
}

code {
	font: normal normal;
	font-size: 90%;
	/*line-height: 1em;*/
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #444;
}

p code {
    position: absolute;
    text-align: right;
    right: 0%;
}

h3 {
	position: relative;
	/*left: 25%;*/
	margin-bottom: 0.7em;
	margin-right: 0;
}

h3 code {
    position: absolute;
    text-align: right;
    right: 0%;
}